.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: lavender;
    border: 3px solid #c591d9;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="text"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #2e2d2d;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c591d9;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(81, 8, 68);
}
